-if @employee.errors.any?
  .alert.alert-danger{:role => "alert"}
    %p Please fix the following #{pluralize(@employee.errors.count, "error")}:
    %ul
      - @employee.errors.full_messages.each do |msg|
        %li= msg

%h1= (@employee.new_record? ? "Add New Employee" : "Edit Employee details")
.row
  .span6.offset3
    = form_for(@employee) do |e|
      %div
        = e.label :first_name
        = e.text_field :first_name
      %div
        = e.label :last_name
        = e.text_field :last_name
      %div
        = e.label :username
        = e.text_field :username
      %div
        = e.label :company_id
        = e.collection_select(:company_id, Company.all.order('name'), :id, :name, prompt: true)
      %div
        = e.submit (@employee.new_record? ? "Add" : "Update"), class: "btn btn-large btn-primary"