%h1 Add new Employee
.row
  .span6.offset3
    = form_for(@employee) do |e|
      
      = e.label :first_name
      = e.text_field :first_name

      = e.label :last_name
      = e.text_field :last_name

      = e.submit "Add", class: "btn btn-large btn-primary"

- content_for(:aside) do
  = render "sidebar"