<h4>Employee Details</h4>
<hr>
<p>
	<%= image_tag "empty_profile_male.jpg", alt: "Profile", class: "img-circle", size: "140x140" %><br/>
	<strong>Employee Name:</strong> <%= (@employee != nil) ? @employee.first_name+" "+@employee.last_name  : "Sorry, no Employee is found with that ID" %><br/>
	<strong>First Name:</strong> <%= (@employee != nil) ? @employee.first_name : "Sorry, no Employee is found with that ID" %><br/>
	<strong>Last Name:</strong> <%= (@employee != nil) ? @employee.last_name : "Sorry, no Employee is found with that ID"%><br/>
	<strong>User Name:</strong> <%= (@employee != nil) ? @employee.username : "Sorry, no Employee is found with that ID"%><br/>
	<strong>Work: </strong> <%= (@employee != nil) ? (link_to "Details", {:controller => 'employees', :action => 'work'}) : "Sorry, no Employee is found with that ID"%><br/>
	<hr>
</p>
   <% content_for :aside do %>
       Stanley Kubrick was an American film director and a  screenwriter, producer.
   <% end %>
	<br/><%= link_to "Back to Employees", employees_path %>	