<h4>Employee Details</h4>
<hr>
<p>
	<strong>Employee Name:</strong> <%= (@employee != nil) ? @employee.first_name+" "+@employee.last_name  : "Sorry, no Employee is found with that ID" %><br/>
	<strong>First Name:</strong> <%= (@employee != nil) ? @employee.first_name : "Sorry, no Employee is found with that ID" %><br/>
	<strong>Last Name:</strong> <%= (@employee != nil) ? @employee.last_name : "Sorry, no Employee is found with that ID"%><br/>
	<strong>User Name:</strong> <%= (@employee != nil) ? @employee.username : "Sorry, no Employee is found with that ID"%><br/>
	<strong>Work: </strong> <%= (@employee != nil) ? (link_to "Details", {:controller => 'employees', :action => 'work'}) : "Sorry, no Employee is found with that ID"%><br/>
	<hr>
</p>
	

	<br/><%= link_to "Back to Employees", employees_path %>	