- content_for :head do
  %title Employee details

%h4 Employee Details
%hr
= image_tag "empty_profile_male.jpg", alt: "Profile", class: "img-circle", size: "140x140"
%ul  
  %li 
    %strong Employee Name:
    = @employee.first_name+" "+@employee.last_name
  %li
    %strong First Name:
    = @employee.first_name
  %li
    %strong Last Name
    = @employee.last_name
  %li
    %strong User Name:
    = @employee.username
  %li
    %strong Work: 
    = link_to "Details", {:controller => 'employees', :action => 'work'}

%hr
- content_for :aside do
  = render "sidebar"