-#Partial for work
%tr
    %td= link_to works.employee, works.employee
    %td= link_to works.project.name, works.project
    %td= works.date_time_performed.strftime("%d %b %Y")
    %td= link_to works.work_details, works
    %td= works.work_hours
