-# Partial content for Work index
%tr 
  %td= link_to @work.employee, @work.employee
  %td= link_to @work.project.name, @work.project
  %td= @work.date_time_performed
  %td= @work.work_details
  %td= @work.work_hours
