%h3 Works Info
%hr
%h4 All Works details
%table.table.table-hover
  %tr
    %th Employee
    %th Project
    %th Date
    %th Work details
    %th Hours

  - @works.each do |work|
    %tr
      %td= link_to work.employee, work.employee
      %td= link_to work.project.name, work.project
      %td= work.date_time_performed.strftime("%d %b %Y")
      %td= link_to work.work_details, work
      %td= work.work_hours

= will_paginate @works
