- if @client.errors.any?
  .alert.alert-danger{:role => "alert"}
    %p Please fix the following #{pluralize(@client.errors.count, "error")}
    %ul
      - @client.errors.full_messages.each do |msg|
        %li= msg

%h1= (@client.new_record? ? "Add new Client" : "Update Client details")
.row
  .span6.offset3
    = form_for(@client) do |c|
      %div
        = c.label :name, 'Client Name'
        = c.text_field :name
      %div
        = c.label :company_id
        = c.collection_select(:company_id, Company.all.order('name'), :id, :name, prompt: true)
      %div
        = c.submit (@client.new_record? ? "Add" : "Update"), class: "btn btn-large btn-primary"