%h5 Quick Links
%ul.list-group 
	%li.list-group-item= link_to "Companies", companies_path
	%li.list-group-item= link_to "Clients", clients_path
	%li.list-group-item= link_to "Projects", projects_path
	%li.list-group-item= link_to "Employees", employees_path
	%li.list-group-item= link_to "Works", works_path
	%li.list-group-item= link_to "Add new Company", new_company_path