<!DOCTYPE html>
<html>
<head>
  <title>Timetracker2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>	
<div id="container">
<head>
	<nav>
 		<ul>
 			<% nav_items.each do |nav_item| %>
 				<%= display_nav_items( nav_item[:displayname], nav_item[:controllername], nav_item[:linkurl] ) %>
 			<% end %>
 		</ul>
 	</nav>	
</head>

<section id = "main">
	<article >
		<%= yield %>
	</article>
	<aside>
		<%= yield :aside%>
	</aside>
</section>
<footer>
	---FOOTER-----
</footer>
</div>


</body>
</html>
